---
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - pipeline-net
  mongo:
    image: mongo:7
    container_name: mongo-init
    restart: unless-stopped
    depends_on:
      - mongodb
    env_file: .env
    volumes:
      - ./data:/data:ro
      - ./mongo-init:/mongo-init:ro
    entrypoint:
      - /bin/bash
      - /mongo-init/import.sh
    networks:
      - pipeline-net
  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    restart: unless-stopped
    ports:
      - 9092:9092
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
  producer:
    build: ./producer
    container_name: producer
    restart: unless-stopped
    depends_on:
      - mongodb
      - kafka
      - mongo
    env_file: .env
    networks:
      - pipeline-net
  consumer:
    build: ./consumer
    container_name: consumer
    restart: unless-stopped
    depends_on:
      - kafka
    env_file: .env
    networks:
      - pipeline-net
  analytics-api:
    build: ./analytics-api
    container_name: analytics-api
    restart: unless-stopped
    depends_on:
      - mongo
      - redis
      - kafka
    env_file: .env
    ports:
      - 8000:8000
    networks:
      - pipeline-net
networks:
  pipeline-net: null
volumes:
  mongo_data: null
  mysql_data: null
